font(family = sans)
  if family == sans
    font-family: Interstate Bold, Helvetica, sans-serif;
  if family == sans-light
    font-family: Interstate Light, Helvetica, sans-serif;
  if family == sans-reg
    font-family: Interstate Light, Helvetica, sans-serif;
  if family == serif
    font-family: "Didot W01 Headline", serif;
